@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

html{scroll-behavior:smooth}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #1b1b1b;
  color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
}

body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
  content:
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696031789/Portfolio/Kibo/Kibo_sokzv2.png) 
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696031788/Portfolio/Kibo/KiboBusqueda_znbrrv.png) 
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696031788/Portfolio/Kibo/KiboCarrito_qvd8my.png) 
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696100370/Portfolio/Kibo/kiboProducto_er49y8.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696100369/Portfolio/Kibo/KiboSessionPNG_nrbnxr.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1698961910/Portfolio/note_app/ybcv8tndmk03n8xf5m06.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1698961910/Portfolio/note_app/bkktlhaenf45rassbh9o.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1698961910/Portfolio/note_app/nert2yqekzxjoct8hh7w.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1697836914/Portfolio/Torneos%20Truco/Captura_3_rllyuz.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1697836914/Portfolio/Torneos%20Truco/Captura_2_t4ptz0.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1697836914/Portfolio/Torneos%20Truco/Captura_1_obz6bc.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696710214/Portfolio/wheather_app/weather_mai_yobqfv.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696710215/Portfolio/wheather_app/show_more_u5vhca.png)
    url(https://res.cloudinary.com/dwoo8pwlg/image/upload/v1696710214/Portfolio/wheather_app/tokyo_nvnnep.png);   
}

main{
  padding: 60px 90px;
}

a{
  text-decoration: none;
}

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  text-decoration: underline rebeccapurple;
  text-underline-offset: 10px;
  margin-bottom: 10px;
}

h3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

p{
  font-size: 20px;
}

.habilidades{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.habilidad{
  padding: 20px;
}

.intro-body{
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px black;
  border-bottom: 2px solid black;
  height: 100vh;
  padding: 10px;
  margin-bottom: 50px;
  & h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
  }
  & p{
    font-size: 25px;
  }
}

.personal-speach{
  height: 100vh;
}

.personal-speach-header{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  & a{
    color: #f2f2f2;
    transition: all 0.5s;
  }
  & a:hover{
    transform: scale(1.2);
    transition: all 0.5s;
  }
} 

.personal-speach-body{
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  margin-top: 60px;
}

.picture-container{
  border: 2px solid rebeccapurple;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  & img{
    height: inherit;
    width: inherit;
  }
}

.cv-link{
  width: 100%;
  margin-top: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-body{
  height: 100vh;
}

.skills{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  & ul {
    padding-top: 30px;
  }
  & li {
    padding-bottom: 10px;
  }
}

.development{
  padding: 40px;
  & ul {
    list-style-type: none;
  }
}

.logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;

  & li {
    text-align: center;
  }
}

.logo svg{
  transform: scale(0.8);
}



.logo{
  background-color: #f2f2f2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools{
  padding: 40px;
}

.knowkedge{
  padding: 40px;
}

.tools ul, .knowkedge ul{
  padding-left: 20px;
}

.project{
  margin-bottom: 30px;
}

.project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.project-buttons{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  background: none;
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px 2px black;
  transition: 0.3s;
}

.btn:hover{
  transform: translateY(-10px) scale(1.1);
  transition: all 0.3s;
  background-color: rebeccapurple;
  color: #1b1b1b;
  cursor: pointer;
}

.btn:active{
  transform: scale(0.9);
}

.project-main{
  & p{
    margin-bottom: 30px;
  }
  & small{
    background-color: rebeccapurple;
    margin-right: 8px;
    padding: 3px;
    color: #f2f2f2;
  }
}

.project-img{
  width: 85%;
  height: 80%;
  & img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    aspect-ratio: 1425/752;
    border-radius: 0.5rem;
    user-select: none;
    transform: scale(0.8);
    box-shadow: 0px 0px 5px 0px black;
  }
}

.slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-arrow, .right-arrow{
  z-index: 2;
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #f2f2f2;
  background-color: #1b1b1b;
  border-radius: 50%;
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
}

.left-arrow{
  left: 1rem;
}

.right-arrow{
  right: 1rem;
}

.slide {
  opacity: 0;
  transition-duration: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide-active {
  opacity: 1;
  z-index: 1;
  transition-duration: 1s;
  transition-delay: 0ms;
}

.selectors{
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  justify-content: center;
  align-items: center;

  & button{
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
  }
}

.line{
  background-color: rebeccapurple;
  margin-top: 20px;
  width: 15rem;
  height: 5px;
}

.education{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-header{
  margin-top: 30px;
  text-align: center;
}

.contact{
  margin-top: 100px;
  height: 75vh;
}

.contact-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 60px;
  height: 180px;
  border-radius: 1rem;
  position: fixed;
  right: 1rem;
  top: calc(50% - (180px/2));
}

nav a{
  transition: 0.5s;
}

nav a:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

nav a[data-title]:hover:after {
  content: attr(data-title);
  font-family: 'Bebas Neue', sans-serif;
  background-color: #ffffff40;
  position: absolute;
  padding: 10px;
  text-align: center;
  width: 90px;
  border-radius: 1rem;
  right: 3rem;
}


.nav-btn{
  color: #f2f2f2;
}

footer{
  width: 100%;
  height: 18vh;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-logos a{
  transition: 0.5s;
}

.footer-logos a:hover {
  transform: translatey(-10px) scale(1.1);
  transition: 0.5s;
}