@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #1b1b1b;
  color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
}

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  text-decoration: underline rebeccapurple;
  text-underline-offset: 10px;
  margin-bottom: 10px;
}

p{
  font-size: 20px;
}

.habilidades{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.habilidad{
  padding: 20px;
}

.intro-body{
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px black;
  border-bottom: 2px solid black;
  height: 100vh;
  padding: 10px;
  margin-bottom: 50px;
  & h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
  }
  & p{
    font-size: 25px;
  }
}

.personal-speach-body{
  height: 80vh;
  display: grid;
  padding: 30px;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.picture-container{
  border: 2px solid rebeccapurple;
  height: 80%;
  width: 100%;
}

.skills-body{
  padding: 30px;
}

