@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #1b1b1b;
  color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
}

main{
  padding: 50px;
}

a{
  text-decoration: none;
}

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  text-decoration: underline rebeccapurple;
  text-underline-offset: 10px;
  margin-bottom: 10px;
}

h3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

p{
  font-size: 20px;
}

.habilidades{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.habilidad{
  padding: 20px;
}

.intro-body{
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px black;
  border-bottom: 2px solid black;
  height: 100vh;
  padding: 10px;
  margin-bottom: 50px;
  & h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
  }
  & p{
    font-size: 25px;
  }
}

.personal-speach-body{
  height: 80vh;
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.picture-container{
  border: 2px solid rebeccapurple;
  height: 80%;
  width: 100%;
}



.skills{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  & ul {
    padding-top: 30px;
  }
  & li {
    padding-bottom: 10px;
  }
}

.development{
  padding: 40px;
  & ul {
    list-style-type: none;
  }
}

.logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;

  & li {
    text-align: center;
  }
  & svg{
    transform: scale(0.8);
  }
}



.logo{
  background-color: #f2f2f2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools{
  padding: 40px;
}

.knowkedge{
  padding: 40px;
}

.project{
  margin-bottom: 30px;
}

.project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.project-buttons{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  background: none;
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px 2px black;
  transition: 0.3s;
}

.btn:hover{
  transition: 0.3s;
  background-color: rebeccapurple;
  color: #1b1b1b;
  cursor: pointer;
}

.btn:active{
  transform: scale(0.9);
}

.project-main{
  & p{
    margin-bottom: 30px;
  }
  & small{
    background-color: rebeccapurple;
    margin-right: 8px;
    padding: 3px;
    color: #f2f2f2;
  }
}

.project-img{
  width: 85%;
  height: 80%;
  & img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
    user-select: none;
    transform: scale(0.8);
    box-shadow: 0px 0px 5px 0px black;
  }
}

.slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-arrow, .right-arrow{
  z-index: 2;
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #f2f2f2;
  background-color: #1b1b1b;
  border-radius: 50%;
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
}

.left-arrow{
  left: 1rem;
}

.right-arrow{
  right: 1rem;
}

.slide {
  opacity: 0;
  transition-duration: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide-active {
  opacity: 1;
  z-index: 1;
  transition-duration: 1s;
  transition-delay: 0ms;
}

.selectors{
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  justify-content: center;
  align-items: center;

  & button{
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
  }
}

.line{
  background-color: rebeccapurple;
  margin-top: 20px;
  width: 15rem;
  height: 5px;
}

.education{
  margin-top: 30px;
}