form{
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 10px;
}

input{
  color: #1b1b1b;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f2f2f2;
  transition: all 0.5s;
  outline: none;
}

textarea{
  color: #1b1b1b;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f2f2f2;
  transition: all 0.5s;
  outline: none;
}

input:focus,textarea:focus{
  border: 3px solid rebeccapurple;
  outline: none;
  transition: all 0.5s;
}
