.slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-arrow, .right-arrow{
  z-index: 2;
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #f2f2f2;
  background-color: #1b1b1b;
  border-radius: 50%;
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
}

.left-arrow{
  left: 1rem;
}

.right-arrow{
  right: 1rem;
}

.slide {
  opacity: 0;
  transition-duration: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide-active {
  opacity: 1;
  z-index: 1;
  transition-duration: 1s;
  transition-delay: 0ms;
}